.experience-container {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .company-list {
    display: inline-block;
    white-space: nowrap;
    animation: scroll 35s linear infinite;
  }
  
  .company {
    display: inline-block;
    padding: 0 5rem;
    font-size: 2.6rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #333;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0); 
    }
    100% {
      transform: translateX(-50%); 
    }
  }
  