.App {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
  height: 90vh;
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.PN_cont {
  position: relative;
}
.profile-pic {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: 5px solid white;
  margin: 4rem auto 1rem;
}
.name_cont {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 2.5rem;
  border: 0px;
  border-radius: 1.5rem;
  top: 50%;
  right: -70%;
  background-color: #fff;
  animation: oscillate 6s ease-in-out infinite;
}

@keyframes oscillate {
  0%,
  100% {
    transform: translateY(15px) rotate(-12deg);
  }
  50% {
    transform: translateY(-15px) rotate(-12deg);
  }
}

.name_header {
  font-size: 16px;
}

.Headling_about {
  font-size: 2.8rem;
  font-weight: 500;
  width: 35vw;
  background: #e0daef;
  /* font-family: "Aeonik Medium", "Aeonik Medium Placeholder", sans-serif; */
  font-family: "Otterco Display Medium", "Otterco Display Medium Placeholder",
    sans-serif;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  word-break: break-word;
  word-wrap: break-word;
}

.project-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
  margin-top: 4vh;
  width: 9rem;
  height: 6vh;
  border: 0px;
  background-color: #a7a1a1;
  border-radius: 4rem;
  color: #030a12;
  /* color: #f4f4f4; */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.project-button:hover {
  background-color: #c3d0e0;
}

@media (min-width: 801px) and (max-width: 1061px) {
  .profile-pic {
    width: 6rem;
    height: 6rem;
  }
  .Headling_about {
    font-size: 2.2rem;
    width: 40vw;
  }
}

@media (max-width: 800px) {
  .home {
    height: 75vh;
  }
  .profile-pic {
    width: 6.5rem;
    height: 6.5rem;
  }
  .Headling_about {
    font-size: 1.9rem;
    width: 330px;
  }
  .project-button {
    width: 8rem;
    font-size: 0.75rem;
  }
  .name_cont {
    width: 8rem;
    right: -80%;
    animation: oscillate 10s ease-in-out infinite
  }
  .name_header {
    font-size: 12px;
  }
}
